.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header hader"
    "main main main"
    "footer footer footer"
  ;
}
.header{
  border: 2px solid blue;

}
.main{
  width: 100%;
  height: 300px;
  border: 2px solid red;
}
.footer{
  border: 2px solid burlywood;

}




